.u-section-1 .u-sheet-1 {
  min-height: 561px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 484px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 668px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 595px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 897px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 804px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 621px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 770px;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 693px;
  }
}