 .u-section-1 {
  background-image: url("images/Untitled-1.jpg");
  background-position: 50% 100%;
}

.u-section-1 .u-sheet-1 {
  min-height: 554px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -39px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 483px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-image-1 {
  width: 448px;
  height: 448px;
  background-image: url("images/IMG_8150_2.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 44px 29px -9px auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 483px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 49px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 29px auto 0 1px;
  padding: 15px 60px 15px 59px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 398px;
  }

  .u-section-1 .u-image-1 {
    width: 410px;
    height: 410px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 398px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 0% 100%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 279px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 305px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 90.7% 100%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 214px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 111px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: -58px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-style: italic;
  margin: 10px auto 60px;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 344px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin: -42px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 316px;
  grid-gap: 30px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 40px 30px 30px;
}

.u-section-3 .u-icon-1 {
  height: 87px;
  width: 87px;
  background-image: none;
  margin: 0 auto;
  padding: 16px;
}

.u-section-3 .u-text-1 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-2 {
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 40px 30px 30px;
}

.u-section-3 .u-icon-2 {
  height: 87px;
  width: 87px;
  background-image: none;
  margin: 0 auto;
  padding: 16px;
}

.u-section-3 .u-text-3 {
  letter-spacing: normal;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-4 {
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 40px 30px 30px;
}

.u-section-3 .u-icon-3 {
  height: 87px;
  width: 87px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 16px;
}

.u-section-3 .u-text-5 {
  letter-spacing: normal;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-6 {
  font-style: normal;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 261px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-3 .u-list-1 {
    margin-top: -31px;
    margin-bottom: 49px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 600px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 110px;
}

.u-section-4 .u-text-1 {
  font-weight: 900;
  margin: 29px auto;
}.u-section-5 .u-sheet-1 {
  min-height: 453px;
}

.u-section-5 .u-blog-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 449px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 17px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-image-1 {
  height: 170px;
  margin: 20px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 53px 13px 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 18px auto 0 4px;
  padding: 0;
}

.u-section-5 .u-icon-1 {
  font-size: 1.4em;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 17px;
}

.u-section-5 .u-text-3 {
  margin: 0;
}

.u-section-5 .u-image-2 {
  height: 170px;
  margin: 20px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 53px 13px 0;
}

.u-section-5 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 18px auto 0 4px;
  padding: 0;
}

.u-section-5 .u-icon-2 {
  font-size: 1.4em;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 17px;
}

.u-section-5 .u-text-5 {
  margin: 0;
}

.u-section-5 .u-image-3 {
  height: 170px;
  margin: 20px 0 0;
}

.u-section-5 .u-text-6 {
  margin: 53px 13px 0;
}

.u-section-5 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 18px auto 0 4px;
  padding: 0;
}

.u-section-5 .u-icon-3 {
  font-size: 1.4em;
}

@media (max-width: 1199px) {
  .u-section-5 .u-blog-1 {
    min-height: 375px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 370px;
  }

  .u-section-5 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-5 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 850px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 110px;
}

.u-section-6 .u-text-1 {
  font-weight: 900;
  margin: 29px auto;
}.u-section-7 .u-sheet-1 {
  min-height: 500px;
}

.u-section-7 .u-gallery-1 {
  height: 375px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-7 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-7 .u-back-image-1 {
  width: 543px;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-7 .u-back-image-2 {
  width: 543px;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-7 .u-back-image-3 {
  width: 543px;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-7 .u-back-image-4 {
  width: 543px;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-7 .u-back-image-5 {
  width: 543px;
}

.u-section-7 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-7 .u-back-image-6 {
  width: 543px;
}

.u-section-7 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
  padding: 0;
}

.u-section-7 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
  padding: 0;
}

.u-section-7 .u-gallery-2 {
  height: 375px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-7 .u-gallery-item-7 {
  margin-right: 10px;
}

.u-section-7 .u-back-image-7 {
  width: 543px;
}

.u-section-7 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-8 {
  margin-right: 10px;
}

.u-section-7 .u-back-image-8 {
  width: 543px;
}

.u-section-7 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-9 {
  margin-right: 10px;
}

.u-section-7 .u-back-image-9 {
  width: 543px;
}

.u-section-7 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-10 {
  margin-right: 10px;
}

.u-section-7 .u-back-image-10 {
  width: 543px;
}

.u-section-7 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-11 {
  margin-right: 10px;
}

.u-section-7 .u-back-image-11 {
  width: 543px;
}

.u-section-7 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-12 {
  margin-right: 10px;
}

.u-section-7 .u-back-image-12 {
  width: 543px;
}

.u-section-7 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-nav-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
  padding: 0;
}

.u-section-7 .u-gallery-nav-4 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
  padding: 0;
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 110px;
}

.u-section-8 .u-text-1 {
  font-weight: 900;
  margin: 29px auto;
}.u-section-9 .u-sheet-1 {
  min-height: 500px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 461px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-9 .u-image-1 {
  height: 160px;
  margin-top: 30px;
  margin-bottom: 0;
  object-position: 50% 31.07%;
}

.u-section-9 .u-text-2 {
  margin: 11px 0 0;
}

.u-section-9 .u-btn-1 {
  background-image: linear-gradient(to right, #4ea1f0, #bf89eb);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 30px auto 0 0;
  padding: 9px 22px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 461px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-9 .u-image-2 {
  height: 160px;
  margin-top: 30px;
  margin-bottom: 0;
  object-position: 50% 31.07%;
}

.u-section-9 .u-text-4 {
  margin: 11px 0 0;
}

.u-section-9 .u-btn-2 {
  background-image: linear-gradient(to right, #4ea1f0, #bf89eb);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 30px auto 0 0;
  padding: 9px 22px;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 461px;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px;
}

.u-section-9 .u-text-5 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-9 .u-image-3 {
  height: 160px;
  margin-top: 30px;
  margin-bottom: 0;
  object-position: 50% 31.07%;
}

.u-section-9 .u-text-6 {
  margin: 11px 0 0;
}

.u-section-9 .u-btn-3 {
  background-image: linear-gradient(to right, #4ea1f0, #bf89eb);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 30px auto 0 0;
  padding: 9px 22px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-9 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-9 .u-image-1 {
    height: 127px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-9 .u-image-2 {
    height: 124px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 380px;
  }

  .u-section-9 .u-image-3 {
    height: 124px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-image-1 {
    height: 90px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-image-2 {
    height: 85px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-9 .u-image-3 {
    height: 85px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-1 {
    height: 260px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-2 {
    height: 368px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-3 {
    height: 368px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-9 .u-image-1 {
    height: 160px;
  }

  .u-section-9 .u-image-2 {
    height: 226px;
  }

  .u-section-9 .u-image-3 {
    height: 226px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 110px;
}

.u-section-10 .u-text-1 {
  font-weight: 900;
  margin: 29px auto;
}.u-section-11 .u-sheet-1 {
  min-height: 572px;
}

.u-section-11 .u-layout-wrap-1 {
  margin: 22px 0 10px;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 560px;
  background-image: none;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-11 .u-image-1 {
  width: 127px;
  height: 127px;
  background-image: url("images/android-chrome-192x192.png");
  background-position: 50% 50%;
  margin: 10px auto 0;
}

.u-section-11 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-11 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.25rem;
  width: 166px;
  margin: 20px auto 0;
}

.u-section-11 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 1px 0 9px;
}

.u-section-11 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-11 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.25rem;
  width: 183px;
  margin: 0 auto;
}

.u-section-11 .u-text-5 {
  font-size: 1.25rem;
  margin: 12px 1px 0;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 560px;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px 30px 29px;
}

.u-section-11 .u-form-1 {
  height: 640px;
  width: 607px;
  margin: 0;
}

.u-section-11 .u-form-group-1 {
  margin-left: auto;
}

.u-section-11 .u-label-1 {
  font-weight: 700;
}

.u-section-11 .u-input-1 {
  background-image: none;
}

.u-section-11 .u-form-group-2 {
  margin-right: 0;
  margin-left: auto;
}

.u-section-11 .u-label-2 {
  font-weight: 700;
}

.u-section-11 .u-input-2 {
  background-image: none;
}

.u-section-11 .u-form-group-3 {
  margin-left: auto;
}

.u-section-11 .u-label-3 {
  font-weight: 700;
}

.u-section-11 .u-input-3 {
  background-image: none;
}

.u-section-11 .u-form-group-4 {
  margin-left: auto;
}

.u-section-11 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin-left: auto;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 462px;
  }

  .u-section-11 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 462px;
  }

  .u-section-11 .u-form-1 {
    width: 528px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-11 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-11 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-11 .u-form-1 {
    width: 389px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 546px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-form-1 {
    height: 467px;
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-11 .u-form-1 {
    width: 320px;
  }
}